 <!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

 <!--<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>-->
<div ng-app="" ng-init="myCol='blueyellow'">

<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">

</div>
<!--<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "";
    $scope.lastName= "";
});
</script>--> 

</body>
</html> 
